/* general */


p, label, th, td {
  font-family: "Lato", sans-serif;
  margin-top: 0;
  margin-bottom: 0;
}

.topic {
  font-size: 12px;
  font-weight: 500;
  letter-spacing: 1px;
  color: #334862;
  margin-bottom: 0.2em;
}

.title-article {
  font-size: 28px;
  font-weight: 550;
  color: #161616;
  margin-bottom: 0.2em;
}

.byauthor {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  font-size: 12px;
  color: #334862;
  margin-bottom: 0.1em;
}

.profile-pic {
  width: 20px;
  height: 20px;
  border-radius: 10px;
}

.divider-top {
  height: 3px;
  background-color: rgba(0,0,0,.1);
  width: 100%;
  max-width: 30px;
  margin: 1em 0 1em;
  margin-bottom: 0.5em;
}

.divider-bot {
  height: 3px;
  background-color: rgba(0,0,0,.1);
  width: 100%;
  min-width: 160px;
  max-width: 300px;
  margin: 1em 0 1em;
}

#borderassist {
  border: 1px solid red;
}
/* Main Containers */
div.blog-content-wrapper {
  display: flex;
  flex-flow: column nowrap;
  min-width: 380px;
  padding: 40px 40px 40px 40px;
}

div.top-row {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  align-content: space-between;
  margin-bottom: 50px;
}

div.bot-row-content {
  display: flex;
  flex-flow: row nowrap;
  align-items: space-between;
  justify-content: space-between;
  background-color: rgb(0, 180, 30);
}

div.end-row {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  margin-top: 24px;
}

/* Content Details */
div.bot-left-col-section {
  display: flex;
  flex-flow: column nowrap;
  flex-grow: 1;
  margin-left: 20px;
  margin-right: 5px;
  background-color: orange;
}

div.bot-right-col-section {
  display: flex;
  flex-flow: column nowrap;
  flex-grow: 1;
  margin-left: 5px;
  margin-right: 20px;
  background-color: orange;
}