/* general */


p, label, th, td {
  font-family: Arial, Helvetica, sans-serif;
  margin-top: 0;
  margin-bottom: 0;
}

.topic {
  font-size: 12px;
  font-weight: 500;
  letter-spacing: 1px;
  color: #334862;
  margin-bottom: 0.2em;
}

.title-article {
  font-size: 28px;
  font-weight: 550;
  color: #161616;
  margin-bottom: 0.2em;
}

.byauthor {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  font-size: 12px;
  color: #334862;
  margin-bottom: 0.1em;
}

.profile-pic {
  width: 20px;
  height: 20px;
  border-radius: 10px;
}

.dateChanged {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  font-size: 10px;
  color: #334862;
  margin-bottom: 0.1em;
}

.divider-top {
  height: 3px;
  background-color: rgba(0,0,0,.1);
  width: 100%;
  max-width: 30px;
  margin: 1em 0 1em;
  margin-bottom: 0.5em;
}

.divider-bot {
  height: 3px;
  background-color: rgba(0,0,0,.1);
  width: 100%;
  min-width: 160px;
  max-width: 300px;
  margin: 1em 0 1em;
}

#borderassist {
  border: 1px solid red;
}
/* Main Containers */
div.blog-content-wrapper {
  display: flex;
  flex-flow: column nowrap;
  min-width: 380px;
  padding: 40px 40px 40px 40px;
}

div.top-row {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  align-content: space-between;
  margin-bottom: 50px;
}

div.bot-row-content {
  display: flex;
  flex-flow: row nowrap;
  align-items: space-between;
  justify-content: space-between;
  background-color: rgb(0, 180, 30);
}

div.end-row {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  margin-top: 24px;
}

/* Content Details */
div.bot-left-col-section {
  display: flex;
  flex-flow: column nowrap;
  flex-shrink: 0;
  background-color: orange;
}

div.bot-middle-col-section {
  display: flex;
  flex-grow: 1;
  flex-shrink: 2;
  flex-flow: column nowrap;
  align-items: center;
  background-color: orange;
  margin-left: 20px;
  margin-right: 20px;
}

div.bot-right-col-section {
  display: flex;
  flex-flow: column nowrap;
  flex-shrink: 0;
  background-color: orange;
}

/* Below content */
h1.bottom-heading {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  margin-top: 0;
}

/* News slider */

/* Model */
.er-newscard-container {
  width: 100%;
  padding-left: 20px;
  padding-right: 20px;
}

.er-newscards {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: center;
}

.hiddenNews {
  display: none;
}

/* Individual Newscard */
/* Model */
div.news-card {
  position: relative;
  width: 200px;
  height: 200px;
  border: 1px solid rgb(138, 138, 138);
  border-radius: 10px;
  background-size: cover;
  transition: all 0.3s;
}

div.news-card:hover{
  transform: scale(1.03, 1.03);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.redirect {
  display: grid;
  position: relative;
  grid-template-rows: 100px 100px;
  text-decoration: none;
  color: black;
}

/* General Deco */
p {
  font-family: Alata;
  margin-top: 0;
  margin-bottom: 0;
}

.datetxt-deco {
  color: white;
  font-size: 16px;
  padding: 8px 8px 8px 8px;
  text-align: center;
}

.heading-txt {
  position: absolute;
  bottom: 5px;
  left: 25px;
  color: #fff;
  text-align: center;
  text-shadow: 0px 0px 8px rgba(0, 0, 0, 1);
  background-color: rgba(0, 0, 0, 0.3);
  width: 160px;
  height: 38px;
  font-size: 1em;
}

div.bg-square {
  position: absolute;
  top: 20px;
  left: -1px;
  width: 80px;
  height: 40px;
  background-color: rgb(49, 120, 202);
  border-top-right-radius: 60px;
  border-bottom-right-radius: 60px;
}


/* Controller for news card slider */
.prevNews, .nextNews {
  cursor: pointer;
  position: absolute;
  top: 55%;
  padding: 14px;
  color: white;
  background-color: rgba(0, 0, 0, 0.3);
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  user-select: none;
  z-index: 2;
}

.prevNews:hover, .nextNews:hover {
  background-color: rgba(0,0,0,0.8);
}

.nextNews {
    right: 4.1%;
    border-radius: 3px 0 0 3px;
}

