nav {
    background-color: rgb(60,180,250);
    position: fixed;
    padding: 0;
    width: 100%;
    height: 60px;
    text-align: right;
    z-index: 4;
}

#navbar span a {
  float: left;
  padding: 0;
  height: 60px;
  color: white;
  text-decoration-line: none;
}
#navbar span a img {
  padding: 12px;
  padding-right: 10px;
}
#navbar span a h2 {
  margin: 0;
  padding: 18px 0;
  height: 24px;
  font-size: 24px;
}
@media (max-width: 400px) {
  #navbar span a img {
    padding: 15px 10px;
    padding-right: 5px;
    width: 30px;
    height: 30px;
  }
  #navbar span a h2 {
    font-size: 22px;
  }
}

.navbutton {
  float: right;
  margin: 10px;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 1px;
  color: white;
  text-decoration-line: none;
  font-size: 20px;
}
.navbutton:hover {
  color: rgb(20,20,60);
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: rgb(20,20,60);
}
.cartbutton {
  height: 40px;
  padding: 0px;
  padding-bottom: 5px;
  margin: 10px !important;
  margin-bottom: 5px;
}
.cartbutton img {
  border-radius: 15px;
}
.cartbutton:hover img {
  box-shadow: 1px 1px 5px rgb(20,60,100);
}

.navtoggle {
  display: none;
  float: right;
  margin: 7px;
  margin-left: 0;
  margin-right: 20px;
  width: 50px;
  height: 46px;
}
#navbar1, #navbar2, #navbar3 {
  background-color: white;
  margin: 7px 0;
  width: 40px;
  height: 6px;
  transition: 0.1s;
}
.change #navbar1 {
  transform: rotate(-45deg) translate(-9px, 9px);
}
.change #navbar2 {
  opacity: 0;
}
.change #navbar3 {
  transform: rotate(45deg) translate(-9px, -9px);
}
#navdisplay {
  visibility: hidden;
  background-color: rgb(60,180,250);
  position: fixed;
  top: -200px;
  padding: 0;
  width: 100%;
  height: 60px;
  text-align: right;
  z-index: 3;
  transition: 0.1s;
}
.displaychange {
  transform: translateY(259.5px)
}
.navdisplaybutton {
  float: left;
  margin: 10px;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 1px;
  color: white;
  text-decoration-line: none;
  font-size: 20px;
}
.navdisplaybutton:hover {
  color: rgb(20,20,60);
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: rgb(20,20,60);
}
.navdisplaybutton:nth-child(1) {
  margin-left: calc(100% - 390px);
}

@media (max-width: 760px) {
  .navbutton {
    display: none;
  }
  #cartbutton1 {
    display: block;
  }
  #cartbutton2 {
    display: none;
  }
  
  .navdropdown {
    display: none;
  }

  .navtoggle {
    display: block;
  }

  #navdisplay {
    height: 60px;
  }
}

@media (max-width: 500px) {
  #navdisplay {
    height: 220px;
  }

  .navdisplaybutton {
    margin: 15px;
    margin-left: calc(50% - 50px) !important;
    margin-right: calc(50% - 50px);
    width: 100px;
    text-align: center;
  }
}



#cartdisplay {
  display: none;
  background-color: rgb(250,250,250);
  position: fixed;
  margin-top: 65px;
  right: 10px;
  padding: 5px 20px;
  width: 30%;
  min-height: 60px;
  text-align: center;
  z-index: 2;
  box-shadow: 1px 1px 10px grey;
  border-radius: 10px;
}
#cartdisplay h3 {
  margin: 0;
  padding: 5px;
  border-bottom: solid 1px grey;
}
.cartitem {
  margin: 10px 0;
  padding-bottom: 5px;
  height: 40px;
  text-align: left;
  border-bottom: solid 1px grey;
}
.cartitem .cartitemimg {
  float: left;
  margin-right: 5px;
  max-width: 22%;
  max-height: 100%;
}
.cartitem .cartitemname {
  float: left;
  vertical-align: top;
  width: 75%;
  margin: 0;
  font-size: 15px;
}
.cartitem .cartitemprice {
  float: left;
  position: absolute;
  right: 20px;
  margin: 0;
  padding-top: 25px;
  height: 15px;
  font-size: 15px;
  font-weight: bold;
}
.carttotal {
  margin: 10px 0;
  text-align: center;
}
.carttotal #cartitemtotal {
  margin: 0;
  padding-bottom: 5px;
  border-bottom: solid 1px grey;
  font-size: 16px;
  font-weight: bold;
}
#cartcheckout {
  margin-bottom: 10px;
  height: 30px;
  width: 60%;
  background-color: rgb(60,180,250);
  border: none;
  border-radius: 10px;
  color: white;
  font-size: 15px;
  font-weight: bold;
}
#cartcheckout:hover {
  background-color: rgb(40,140,220);
  box-shadow: 1px 1px 5px rgb(150,150,150);
}
#cartcheckout a {
  color: white;
  font-size: 15px;
  font-weight: bold;
  text-decoration: none;
}

@media (max-width: 800px) {
  .cartitem {
    height: 50px;
  }
  .cartitem .cartitemprice {
    padding-top: 35px;
  }
}

@media (max-width: 600px) {
  .cartitem {
    height: 70px;
  }
  .cartitem .cartitemname {
    width: 70%;
  }
  .cartitem .cartitemprice {
    padding-top: 55px;
  }
}

@media (max-width: 450px) {
  #cartdisplay {
    width: calc(100% - 60px);
  }
  .cartitem {
    height: 40px;
  }
  .cartitem .cartitemname {
    width: 75%;
  }
  .cartitem .cartitemprice {
    padding-top: 25px;
  }
}