/* Form */
form {
  max-width: 300px;
  padding: 20px;
  margin: 20px;
  margin-left: auto;
  margin-right: auto;
  background-color: white;
  border-radius: 15px;
  flex-wrap: wrap;
  justify-content: left;
}

form .title {
  display: block;
  width: 80px;
  padding-bottom: 5px;
  margin: 0;
  margin-bottom: 10px;
  border-style: solid;
  border-width: 0;
  border-bottom-width: 3px;
  border-color: rgb(120,150,200);
}

form .title h1 {
  margin: 0;
}

form div {
  display: flex;
  width: 100%;
  margin: 0px;
  margin-top: 10px;
  flex-wrap: wrap;
}

form div span{
  display: flex;
  width: 100%;
  margin-bottom: 3px;
  flex-wrap: wrap;
}

p {
  margin: 0;
  margin-right: 10px;
}

#name {
  width: 100%;
  max-width: 200px;
}
#email {
  width: 100%;
  max-width: 200px;
}
#password {
  width: 100%;
  max-width: 200px;
}

input, select, textarea, .packageradio {
  border-style: solid;
  border-color: rgb(150,150,150);
  border-width: 2px;
}



/* General Submit Controls CSS */
.submit-controls {
  width: 100%;
}

.submit-controls span {
  width: 100px;
  display: flex;
  margin-right: 10px;
  padding: 1px;
}

.submit button p, .clear button p {
  margin: 0;
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.submit button p:after, .clear button p:after {
  content: ">>";
  position: absolute;
  opacity: 0;
  top: 0;
  right: -10%;
  transition: 0.5s;
}

.submit button:hover p, .clear button:hover p {
  padding-right: 25px;
}

.submit button:hover p:after, .clear button:hover p:after {
  opacity: 1;
  right: 0;
}

.submit button:active, .clear button:active {
  transform: translateY(2px);
}

/* Submit */
.submit button {
  border: 1px solid #009726;
  border-radius: 4px;
  background-color: white;
  box-shadow: 0 3px #999;
  color: black;
  text-align: center;
  text-decoration: none;
  min-width: 100px;
  padding: 5px;
  transition: all 0.5s;
  cursor: pointer;
}

.submit button:hover {
  background-color: #009726;
  color: white;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}