
@font-face {
  font-family: Exo;
  src: url(./fonts/Exo2.0-Medium.otf);
}

.main {
    width: 100%;
    height: 100%;
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-color:lightskyblue;
}

@media (max-width: 450px) {
  #navdisplay {
    height: 120px;
  }
}

.profile-card {
  flex: 40%;
  display:block;
  position: relative;
  font-family: sans-serif;
  width: 180px;
  min-width: 180px;
  max-width: 180px;
  height: 180px;
  background: #fff;
  padding: 30px;
  border-radius: 50%;
  box-shadow: 0 0 22px #3336;
  transition: .6s;
  margin: 50px 20px 20px 20px;
}
.profile-card:hover {
  border-radius: 10px;
  height: 260px;
}
.profile-card .img {
  position: relative;
  width: 100%;
  height: 100%;
  transition: .6s;
  z-index: 1;
}
.profile-card:hover .img {
  transform: translateY(-60px);
}
.img img {
  width: 100%;
  height:100%;
  border-radius: 50%;
  box-shadow: 0 0 22px #3336;
  transition: .6s;
}
.profile-card:hover img {
  border-radius: 10px;
}
.caption {
  padding-top: 10px;
  text-align: center;
  transform: translateY(-80px);
  opacity: 0;
  transition: .6s;
}
.profile-card:hover .caption {
  opacity: 1;
}
.caption h3 {
  font-size: 21px;
  font-family: sans-serif;
}
.caption p {
  font-size: 15px;
  color: #0c52a1;
  font-family: sans-serif;
  margin: 2px 0 9px 0;
}