label {
    font-weight: bold;
}

th {
    text-decoration: underline;
}

    table.ShopCart {
    border: 1px solid;
    border-collapse: collapse;
    background-color: #24829e;
    width: auto;
    height: 52%;
    }

    table.checkout {
    border: 1px solid;
    border-collapse: collapse;
    background-color: #4cc855;
    width: auto;
    height: 52%;
    }


    .PurchaseButton {
    background-color: white;
    border: 1px solid #ff3d02;
    color: black;
    padding: 10px 24px;
    text-align: center;
    text-decoration: none;
    display: inline-block; 
    font-size: 14px;
    cursor: pointer;
    transition-duration: 0.4s;
    box-shadow: 0 3px #999;
    position: relative;
    left: 38%;
    }

        .PurchaseButton:hover {
        background-color: #ff3d02;
        color: white;
        box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
        }

            .PurchaseButton:active {
            transform: translateY(4px);
            }