@font-face {
    font-family: CheckoutFont;
    src: url(../fonts/Alata-Regular.ttf);
}

label {
    font-weight: bold;
}

th {
    text-decoration: underline;
    font-family: CheckoutFont;
}

td {
    font-family: CheckoutFont;
}

table.ShopCart {
    border: 1px solid black;
    border-radius: 10px;
    background-color: #ffc7c7;
    width: 30%;
    height: 52%;
}

.cardicon1 {
    position: relative;
    width: 8%;
}

.InputButton {
    width: 95%;
}

#required {
    color: rgb(255, 43, 43);
}

table.checkout {
    border: 1px solid black;
    border-radius: 10px;
    background-color: #d8d8d8;
    width: 30%;
    height: 52%;
}


.PurchaseButton {
    display: inline-block;
    position: relative;
    border: 1px solid #009726;
    background-color: white;
    box-shadow: 0 3px #999;
    color: black;
    text-align: center;
    text-decoration: none;
    font-size: 14px;
    width: 30%;
    min-width: 100px;
    padding: 2%;
    transition: all 0.5s;
    cursor: pointer;
}

.PurchaseButton span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}
  
.PurchaseButton span:after {
    content: " "url(../images/cart.png)" ";
    position: absolute;
    opacity: 0;
    top: 0;
    right: -10%;
    transition: 0.5s;
}

.PurchaseButton:hover {
    background-color: #009726;
    color: white;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}

.PurchaseButton:hover span {
    padding-right: 25%;
  }
  
.PurchaseButton:hover span:after {
    opacity: 1;
    right: 0;
 }

.PurchaseButton:active {
    transform: translateY(4px);
}