/* V0.13 */


td {
    font-family: Alata;
}


table {
    border: 1px solid black;
    border-radius: 10px;
    background-color: #1fceffb0;
    width: auto;
    height: 40%;
    text-align: center;
    padding: 40px 20px 40px 20px
}

.refproductbutton {
    display: inline-block;
    position: relative;
    border: 1px solid #009726;
    background-color: white;
    box-shadow: 0 3px #999;
    color: black;
    text-align: center;
    text-decoration: none;
    font-size: 14px;
    width: 10%;
    min-width: 200px;
    padding: 1%;
    transition: all 0.5s;
    cursor: pointer;
}

.refproductbutton span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}
  
.refproductbutton span:after {
    content: ">>";
    position: absolute;
    opacity: 0;
    top: 0;
    right: -10%;
    transition: 0.5s;
}

.refproductbutton:hover {
    background-color: #009726;
    color: white;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}

.refproductbutton:hover span {
    padding-right: 15%;
  }
  
.refproductbutton:hover span:after {
    opacity: 1;
    right: 0;
 }

.refproductbutton:active {
    transform: translateY(4px);
}







































ter
































































































































































































































































































































































































































































































































































































































































































































































































































































