/* V0.11 */
td {
    font-weight: bold;
}


table {
     border: 1px solid black;
     border-radius: 10px;
    background-color: #ff8b07b0;
    width: auto;
    height: 40%;
    text-align: center;
 }
    .refproductbutton {
                    background-color: white;
                    border: 1px solid #019439;
                    color: black;
                    padding: 10px 24px;
                    text-align: center;
                    text-decoration: none;
                    display: inline-block; 
                    font-size: 14px;
                    cursor: pointer;
                    transition-duration: 0.4s;
    }

        .refproductbutton:hover {
                        background-color: #019439;
                        color: white;
                        box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
        }