/* V0.13 */


td {
    font-family: Alata;
}


table {
    border: 2px solid rgb(0, 119, 255);
    border-radius: 20px;
    background-color: rgb(236, 236, 236);
    height: 40%;
    text-align: center;
    padding: 40px 20px 40px 20px;
    transition: all 0.5s;
}

table:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.refproductbutton {
    display: inline-block;
    position: relative;
    border: 1px solid #009726;
    background-color: white;
    box-shadow: 0 3px #999;
    color: black;
    text-align: center;
    text-decoration: none;
    font-size: 14px;
    width: 10%;
    min-width: 200px;
    padding: 10px 10px 10px 10px;
    transition: all 0.5s;
}

.refproductbutton span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}
  
.refproductbutton span:after {
    content: ">>";
    position: absolute;
    opacity: 0;
    top: 0;
    right: -10%;
    transition: 0.5s;
}

.refproductbutton:hover {
    background-color: #009726;
    color: white;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}

.refproductbutton:hover span {
    padding-right: 15%;
  }
  
.refproductbutton:hover span:after {
    opacity: 1;
    right: 0;
 }

.refproductbutton:active {
    transform: translateY(4px);
}