/* general */
@font-face {
    font-family: CheckoutFont;
    src: url(../fonts/Alata-Regular.ttf);
}

p, label, th, td {
    font-family: CheckoutFont;
    margin-top: 0;
    margin-bottom: 0;
}

#required {
    color: rgb(255, 43, 43);
}

input {
	border: hsla(0,0%,71%,.05);
}

input:focus {
	outline: none;
	box-shadow: rgba(0, 0, 0, 0.3) 0px 0px 4px 0px;
	border: none;
}

input::placeholder {
	font-family: CheckoutFont;
	font-size: 14px;
}

div.split {
	display: grid;
	grid-template-columns: 48% 48%;
	column-gap: 10px;
}


/* Contains the entire cart & checkout section. */
div.overall-container {
		margin-left: 20%;
        width: 60%;
        min-width: 260px;
}

table.ShopCart {
    border: 2px solid rgba(255, 0, 0, 0.5);
    border-radius: 20px;
    width: 100%;
}

table.ShopCart:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}



/* Checkout Form */
div.checkout {
    display: grid;
    grid-template-rows: 30px 250px 50px;
    border: 2px solid rgb(0, 119, 255);
    border-radius: 20px;
    padding: 20px 20px 20px 20px;
    transition: all 0.5s; 
}

div.checkout:hover {
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

div.formcontrols {
        display: grid;
        grid-template-rows: 70px 50px 70px 60px;
        align-items: center;
}

.button-input {
	width: 95%;
	height: 28px;
}

	div.sub-form-heading {
			font-size: 18px;
	}

	div.card-numberbox {
    display: grid;
    grid-template-rows: 1fr 1fr;
	}        		    
			
		div.cc-numtext-input {
			display: flex;
            flex: 1;
			flex-direction: row;
			align-items: center;
		}

		.button-input2 {
			width: 100%;
			height: 28px;
		}

		div.card-icon-container {
			display: flex;
			flex: 1;
			flex-direction: row;
			background-color: white;
			margin-left: -100px;
			z-index: 2;				
		}

		.cardicon {
			width: 30px;
			height: 28px;
		}
		
		div.card-icon-container2 {
			display: flex;
			flex: 1;
			flex-direction: row;
			align-items: center;
		}

		.cardicon2 {
			width: 30px;
			height: 22px;
		}



/* Form submit & reset buttons */
.PurchaseButton {
    display: inline-block;
    position: relative;
    border: 1px solid #009726;
    border-radius: 8px;
    background-color: white;
    color: black;
    text-align: center;
    text-decoration: none;
    font-size: 14px;
    width: 30%;
    min-width: 100px;
    margin-top: 10px;
    padding: 10px;
    transition: all 0.5s;
    cursor: pointer;
}

.PurchaseButton span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}
  
.PurchaseButton span:after {
    content: " "url(../images/checkout/cart.png)" ";
    position: absolute;
    opacity: 0;
    top: 0;
    right: -10%;
    transition: 0.5s;
}

.PurchaseButton:hover {
    background-color: #009726;
    color: white;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}

.PurchaseButton:hover span {
    padding-right: 25%;
  }
  
.PurchaseButton:hover span:after {
    opacity: 1;
    right: 0;
 }

.PurchaseButton:active {
    transform: translateY(4px);
}

.clear-button {
    display: inline-block;
    position: relative;
    border: 1px solid #970a00;
    border-radius: 8px;
    background-color: white;
    color: black;
    text-align: center;
    text-decoration: none;
    font-size: 14px;
    width: 30%;
    min-width: 100px;
    margin-top: 10px;
    padding: 10px;
    transition: all 0.5s;
    cursor: pointer;
}

.clear-button:hover {
    background-color: #970a00;
    color: white;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}

.clear-button:active {
    transform: translateY(4px);
}


/* Notification Section */
#notificationbar {
    position: fixed;
    bottom: 10px;
    right: 10px;
    padding: 10px;
    z-index: 1;
}
  
.notification {
    display: none;
    padding: 10px;
    margin: 5px;
    border: solid rgb(100,100,100) 2px;
    border-radius: 10px;
    z-index: 1;
    background-color: white;
    box-shadow: 1px 1px 5px grey;
}
  

/* Loading & Website animation */
@keyframes fadeInAnim {
    from {opacity: 0;}
    to {opacity: 1;}
}
@keyframes fadeOutAnim {
    from {opacity: 1;}
    to {opacity: 0;}
}
.notificationinanim {
    animation-name: fadeInAnim;
    animation-duration: 0.5s;
}
.notificationoutanim {
    animation-name: fadeOutAnim;
    animation-duration: 0.5s;
}
  
.notification p {
    margin: 0;
    font-size: 20px;
}