.accordion
{
 border:2px solid black;
 padding: 10px;
 cursor:pointer;
 text-align:left;
 font-size:15px;
 width: 50%;
}

.accordion:hover
{background-color: rgba(210, 199, 199, 0.8);
}

.panel {
    display: none;
    overflow: hidden;
    margin-left: 25%;
    margin-right: 25%;
    text-align: center;
    background-color: white;
    border-radius: 25px;
  }