section {
  background-color: rgb(240,240,240);
}

article {
  background-color: rgb(240,240,240);
  padding: 30px;
  width: auto;
}

.column {
  float: left;
  width: 30%;
  margin: 1.65%;
  }

.twocolumn {
  float: left;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

section::after {
  content: "";
  display: table;
  clear: both;
  }
  .popularbox {
    flex: 100%;
    max-width: 350px;
  }
    


   
