.banner {
  width: 100%;
}

#headerbluecolor {
  color:rgb(60, 180, 250);
}
#headerblackcolor {
  color: black;
}

.reasonscontainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

.reasonsbox {
  display: block;
  padding: 1px;
  margin: 6px;
  flex: 40%;
  min-height: 125px;
  min-width: 50px;
  max-width: calc(50% - 20px);
  text-align: center;
}

.reasonsbox img {
  height: 100px;
  margin: 10px;
  border: 2px solid rgb(60, 180, 250);
  border-radius: 10px;
}
.reasonsbox h2 {
  margin: 10px;
  margin-left: auto;
  margin-right: auto;
  width: fit-content;
  font-size: 20px;
}
.reasonsbox p {
  margin: 10px;
  margin-left: auto;
  margin-right: auto;
  width: fit-content;
  font-size: 15px;
}

@media (max-width: 750px) {
  .reasonscontainer {
    width: 95%;
  }
}

@media (max-width: 550px) {
  .reasonscontainer {
    flex-direction: column;
  }
}

/* */
  
.productscontainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.productsbox {
  display: block;
  padding: 1px;
  margin: 6px;
  flex: 40%;
  min-height: 150px;
  min-width: 180px;
  max-width: calc(30% - 10px);
  text-align: center;
}

.productsbox img {
  width: 150px;
  border: 3px solid rgb(60, 180, 250);
  border-radius: 10px;
  background-color:rgb(60,180,250);
  font-size:0;
  background-clip:border-box;

}
.productsbox h2 {
  margin: 10px;
  margin-left: auto;
  margin-right: auto;
  width: fit-content;
  font-size: 20px;
}
.productsbox p {
  margin: 10px;
  margin-left: auto;
  margin-right: auto;
  width: fit-content;
  font-size: 15px;
}

@media (max-width: 750px) {
  .productscontainer {
    width: 95%;
  }
}

@media (max-width: 400px) {
  .productscontainer {
    flex-direction: column;
  }
}

.reviewcontainer {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-between;
  padding-left: 5%;
  padding-right: 5%;
}

img.customer-pp {
  height: 130px;
  border-radius: 65px;
}

div.reviews {
  width: 100%;
}

.left-reviewbox {
  display: flex;
  flex-flow: column nowrap;
  flex-grow: 1;
  align-items: center;
}

.middle-reviewbox {
  display: flex;
  flex-flow: column nowrap;
  flex-grow: 1;
  padding-left: 20px;
  padding-right: 20px;
  align-items: center;
}

.right-reviewbox {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  flex-grow: 1;
}
.testing:link { 
  color: darkblue;
}

.testing:visited {
  color: darkblue;
}

 .testing:hover {
  color: blue;
 }

 .testing:active {
  color: blue;
} 

