@media (max-width: 600px) {
  #video {
    height: 250px;
  }
}
.Bluefont {
  color:rgb(60, 180, 250);
}
.black {
  color: black;
}

.banner {
  width: 100%;
  background-size:200%;
}


section {
  background-color: rgb(240,240,240);
}

article {
  background-color: rgb(240,240,240);
  padding: 30px;
  width: auto;
}

.column {
  float: left;
  width: 30%;
  margin: 1.65%;
}

.twocolumn {
  float: left;
  width: 50%;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

section::after {
  content: "";
  display: table;
  clear: both;
}


.mainboxes
{
  text-align: center;
  width: 90%;
}

.boxes {
  display: inline-block;
  width: 200px;
  height: 350px; 
  vertical-align: top;
  position: relative;
}


.column {
  float: right;
  width: 10%;
  padding: 5px;
}


.row {
  content: "";
  clear: both;
  display: table;
}

.row2{
  display: flex;
}
.flex {
  flex: 33.33%;
  padding: 5px;
}