 article {
display: flex;
width: 100%;
height: 100%;
margin: 0;
background-color: rgb(91, 169, 241);
}

form {
vertical-align: middle;
padding: 20px;
background-color: white;
border-radius: 15px;
flex-wrap: wrap;
justify-content: space-between;
border: 1px solid pink;
width: 40vw;
height:50vh;
margin-top:30px;
margin-left:27%;
}

.jobtitle {
text-align:center;
font-weight:bold;
font-size:20px;
}

.spacing{
padding-top:20px;
}

textarea {
overflow-y: scroll;
resize: none;
}

.endbutton{
padding:75px;
text-align:center;
}

.endbutton input {
background-color:rgb(28, 244, 255);
border-radius: 10px;
height:27px;
width:100px;    
}

.endbutton input:hover{
background-color:rgb(117, 176, 240);
}