 article {
display: flex;
width: 100%;
height: 100%;
margin: 0;
background-color: rgb(8, 71, 131);
}

form {
vertical-align: middle;
padding: 20px;
background-color: white;
border-radius: 15px;
flex-wrap: wrap;
justify-content: space-between;
border: 1px solid pink;
width: 40vw;
height:50vh;
margin-top:30px;
margin-left:27%;
}

.jobtitle {
text-align:center;
font-weight:bold;
font-size:20px;
}

.spacing{
 padding-top:20px;
}

textarea {
overflow-y: scroll;
resize: none;
}

.endbutton{
text-align:center;
padding:80px;
}

