body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
}

@keyframes maindivLoad {
  from {opacity: 0;}
  to {opacity: 1;}
}

#maindiv {
  opacity: 1;
  position: absolute;
  width: 100%;
  height: calc(100%-50px);
  left: 0;
  top: 50px;
  animation-name: maindivLoad;
  animation-duration: 2s;
}

.content {
  top: 50px;
  position: relative;
  width: auto;
  background-color: rgb(240,240,240);
}