nav {
    background-color: rgb(60,180,250);
    position: fixed;
    padding: 0;
    width: 100%;
    height: 60px;
    text-align: right;
    z-index: 2;
}

.navbutton {
  float: right;
  margin: 10px;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 1px;
  color: white;
  text-decoration-line: none;
  font-size: 20px;
}
.navbutton:hover {
  color: rgb(20,20,60);
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: rgb(20,20,60);
}
.cartbutton {
  height: 40px;
  padding: 0px;
  padding-bottom: 5px;
  margin: 10px !important;
  margin-bottom: 5px;
}
.cartbutton img {
  border-radius: 15px;
}
.cartbutton:hover img {
  box-shadow: 1px 1px 5px rgb(20,60,100);
}

.navtoggle {
  display: none;
  float: right;
  margin: 10px;
  margin-right: 20px;
  width: 40px;
  height: 40px;
}
#navbar1, #navbar2, #navbar3 {
  background-color: white;
  margin: 6px 0;
  width: 35px;
  height: 5px;
  transition: 0.1s;
}
.change #navbar1 {
  -webkit-transform: rotate(-45deg) translate(-9px, 6px);
  transform: rotate(-45deg) translate(-9px, 6px);
}
.change #navbar2 {
  opacity: 0;
}
.change #navbar3 {
  -webkit-transform: rotate(45deg) translate(-8px, -8px);
  transform: rotate(45deg) translate(-8px, -8px);
}
#navdisplay {
  display: none;
  background-color: rgb(60,180,250);
  position: fixed;
  margin-top: 60px;
  padding: 0;
  width: 100%;
  height: 60px;
  text-align: right;
  z-index: 2;
}
.navdisplaybutton {
  float: right;
  margin: 10px;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 1px;
  color: white;
  text-decoration-line: none;
  font-size: 20px;
}
.navdisplaybutton:hover {
  color: rgb(20,20,60);
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: rgb(20,20,60);
}

@media (max-width: 760px) {
  .navbutton {
    display: none;
  }
  
  .navdropdown {
    display: none;
  }

  .navtoggle {
    display: block;
  }

  #navdisplay {
    height: 60px;
  }
}

@media (max-width: 450px) {
  #navdisplay {
    height: 120px;
  }
}

#cartdisplay {
  display: none;
  background-color: rgb(250,250,250);
  position: fixed;
  margin-top: 65px;
  right: 10px;
  padding: 5px 20px;
  width: 30%;
  min-height: 60px;
  text-align: center;
  z-index: 2;
  box-shadow: 1px 1px 10px grey;
  border-radius: 10px;
}
#cartdisplay h3 {
  margin: 0;
  padding: 5px;
  border-bottom: solid 1px grey;
}
.cartitem {
  margin: 10px 0;
  padding-bottom: 5px;
  height: 40px;
  text-align: left;
  border-bottom: solid 1px grey;
}
.cartitem .cartitemimg {
  float: left;
  margin-right: 5px;
  max-width: 22%;
  max-height: 100%;
}
.cartitem .cartitemname {
  float: left;
  vertical-align: top;
  width: 75%;
  margin: 0;
  font-size: 15px;
}
.cartitem .cartitemprice {
  float: left;
  position: absolute;
  right: 20px;
  margin: 0;
  padding-top: 25px;
  height: 15px;
  font-size: 15px;
  font-weight: bold;
}
.carttotal {
  margin: 10px 0;
  text-align: center;
}
.carttotal #cartitemtotal {
  margin: 0;
  padding-bottom: 5px;
  border-bottom: solid 1px grey;
  font-size: 16px;
  font-weight: bold;
}
#cartcheckout {
  margin-bottom: 10px;
  height: 30px;
  width: 60%;
  background-color: rgb(60,180,250);
  border: none;
  border-radius: 10px;
  color: white;
  font-size: 15px;
  font-weight: bold;
}
#cartcheckout:hover {
  background-color: rgb(40,140,220);
  box-shadow: 1px 1px 5px rgb(150,150,150);
}

@media (max-width: 760px) {
  #cartdisplay {
    margin-top: 125px;
  }

  .cartitem {
    height: 50px;
  }
  .cartitem .cartitemprice {
    padding-top: 35px;
  }
}

@media (max-width: 600px) {
  .cartitem {
    height: 70px;
  }
  .cartitem .cartitemname {
    width: 70%;
  }
  .cartitem .cartitemprice {
    padding-top: 55px;
  }
}

@media (max-width: 450px) {
  #cartdisplay {
    margin-top: 185px;
    width: calc(100% - 60px);
  }
  .cartitem {
    height: 40px;
  }
  .cartitem .cartitemname {
    width: 75%;
  }
  .cartitem .cartitemprice {
    padding-top: 25px;
  }
}