nav {
    background-color: rgb(60,180,250);
    position: fixed;
    padding: 0;
    width: 100%;
    height: 60px;
    text-align: right;
    z-index: 2;
}

.navbutton {
  float: right;
  margin: 10px;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 1px;
  color: white;
  text-decoration-line: none;
  font-size: 20px;
}
.navbutton:hover {
  color: rgb(20,20,60);
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: rgb(20,20,60);
}
#cartbutton {
  height: 40px;
  padding: 0px;
  padding-bottom: 5px;
  margin: 10px;
  margin-bottom: 5px;
}
#cartbutton img {
  border-radius: 15px;
}
#cartbutton:hover img {
  box-shadow: 1px 1px 5px rgb(20,60,100);
}

.navtoggle {
  display: none;
  float: right;
  margin: 10px;
  margin-right: 20px;
  width: 40px;
  height: 40px;
}
#navbar1, #navbar2, #navbar3 {
  background-color: white;
  margin: 6px 0;
  width: 35px;
  height: 5px;
  transition: 0.1s;
}
.change #navbar1 {
  -webkit-transform: rotate(-45deg) translate(-9px, 6px);
  transform: rotate(-45deg) translate(-9px, 6px);
}
.change #navbar2 {
  opacity: 0;
}
.change #navbar3 {
  -webkit-transform: rotate(45deg) translate(-8px, -8px);
  transform: rotate(45deg) translate(-8px, -8px);
}
#navdisplay {
  display: none;
  background-color: rgb(60,180,250);
  position: fixed;
  margin-top: 60px;
  padding: 0;
  width: 100%;
  height: 120px;
  text-align: right;
  z-index: 2;
}
.navdisplaybutton {
  float: right;
  margin: 10px;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 1px;
  color: white;
  text-decoration-line: none;
  font-size: 20px;
}
.navdisplaybutton:hover {
  color: rgb(20,20,60);
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: rgb(20,20,60);
}

@media (max-width: 760px) {
  .navbutton {
    display: none;
  }
  
  .navdropdown {
    display: none;
  }

  .navtoggle {
    display: block;
  }

  #navdisplay {
    height: 60px;
  }
}

@media (max-width: 450px) {
  #navdisplay {
    height: 120px;
  }
}