/* general */
@font-face {
  font-family: CheckoutFont;
  src: url(../fonts/Alata-Regular.ttf);
}

p {
  font-family: CheckoutFont;
  margin-top: 0;
  margin-bottom: 0;
}

#datetxt-deco {
  color: white;
  font-size: 16px;
  padding: 8px 8px 8px 8px;
  text-align: center;
}

#cardshadow:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

/* Main content */
#newscard-flex-section {
  display: flex; 
  flex-direction: row;
  align-items: top;
  justify-content: space-evenly;
  flex-wrap: 1;
  padding-left: 40px;
  padding-right: 40px;
  padding-bottom: 20px;
}

div.news-card {
  width: 300px;
  height: 300px;
  background-image: url("https://free3d.com/imgd/l95485-bugatti-chiron-2017-model-31847.jpg");
  border: 1px solid rgb(138, 138, 138);
  border-radius: 10px;
  transition: all 0.3s;
}

.redirect {
  display: flex;
  position: relative;
  flex-direction: column;
  text-decoration: none;
  color: black;
}

div.bg-square {
  position: absolute;
  top: 20px;
  left: -1px;
  width: 120px;
  height: 40px;
  background-color: rgb(49, 120, 202);
  border-top-right-radius: 60px;
  border-bottom-right-radius: 60px;
}