/* general */
@font-face {
  font-family: Alata;
  src: url(../fonts/Alata-Regular.ttf);
}

p {
  font-family: Alata;
  margin-top: 0;
  margin-bottom: 0;
}

#datetxt-deco {
  color: white;
  font-size: 16px;
  padding: 8px 8px 8px 8px;
  text-align: center;
}

#cardshadow:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

#heading-txt {
  position: absolute;
  bottom: 20px;
  left: 30px;
  color: #fff;
  text-align: center;
  text-shadow: 0px 0px 8px black;
  width: 240px;
  height: 50px;
  font-size: 1.1em;
}

/* Main content */
#newscard-flex-section {
  display: flex; 
  flex-flow: row wrap;
  justify-content: space-evenly;
  align-content: space-evenly;
  overflow: scroll;
  min-width: 300px;
  padding: 20px 40px 20px 40px;
}

div.news-card {
  width: 300px;
  height: 300px;
  border: 1px solid rgb(138, 138, 138);
  border-radius: 10px;
  margin-bottom: 20px;
  transition: all 0.3s;
}

div.news-card:hover{
  transform: scale(1.03, 1.03);
}

.redirect {
  display: grid;
  position: relative;
  grid-template-rows: 150px 150px;
  text-decoration: none;
  color: black;
}

div.bg-square {
  position: absolute;
  top: 20px;
  left: -1px;
  width: 120px;
  height: 40px;
  background-color: rgb(49, 120, 202);
  border-top-right-radius: 60px;
  border-bottom-right-radius: 60px;
}
