#searchbox {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
  height: 27px;
  max-width: 400px;
}
#searchbox button {
  float: left;
  padding: 2px;
  width: 15%;
  height: 25px;
  box-sizing: content-box;
  background: rgb(60,180,250);
  color: white;
  border: solid 1px gray;
  border-radius: 10px 0 0 10px;
  cursor: pointer;
  box-shadow: 1px 1px 5px grey;
}
#searchbox button:hover {
  background: rgb(40,140,220);
}
#searchbar {
  float: left;
  padding: 2px 5px;
  width: calc(85% - 17px);
  height: 25px;
  border: solid 1px grey;
  border-left: none;
  border-radius: 0 10px 10px 0;
  background: white;
  box-shadow: 1px 1px 5px grey;
}

#products {
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  flex-wrap: wrap;
}

.productcard {
  display: flex;
  flex-wrap: wrap;
  min-height: 300px;
  margin: 10px;
  flex: 32%;
  max-width: min(calc(32% - 20px), 300px);
  border-radius: 20px;
  background-color: rgb(255,255,255);
}

.productcard img {
  display: block;
  width: 100%;
  border-radius: 20px 20px 0 0;
}

.productcard img:hover {
  cursor: pointer;
}

.productcard h4 {
  width: 100%;
  margin: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.productcard p {
  width: 100%;
  margin: 10px;
}

.productcard .price {
  width: 100%;
  align-self: flex-end;
  text-align: left;
  font-weight: bold;
  font-size: 19px;
}

.productbutton {
  float: right;
  height: 100%;
  background-color: rgb(140,220,255);
  border: solid rgb(60,120,180) 1px;
  border-radius: 8px;
  box-shadow: 1px 1px 4px grey;
  font-family: "Alata";
}

.productbutton:hover {
  background-color: rgb(100,180,220)
}

@media (max-width: 650px) and (min-width: 450px) {
  #products {
    justify-content: center;
  }

  .productcard {
    flex: 49%;
    max-width: min(calc(49% - 20px), 250px);
  }
}

@media (max-width: 450px) {
  #products {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .productcard {
    flex: 100%;
    max-width: 250px;
  }
}

#notificationbar {
  position: fixed;
  bottom: 10px;
  right: 10px;
  padding: 10px;
  z-index: 1;
}

.notification {
  display: none;
  padding: 10px;
  margin: 5px;
  border: solid rgb(100,100,100) 2px;
  border-radius: 10px;
  z-index: 1;
  background-color: white;
  box-shadow: 1px 1px 5px grey;
}

@keyframes fadeInAnim {
  from {opacity: 0;}
  to {opacity: 1;}
}
@keyframes fadeOutAnim {
  from {opacity: 1;}
  to {opacity: 0;}
}
.notificationinanim {
  animation-name: fadeInAnim;
  animation-duration: 0.5s;
}
.notificationoutanim {
  animation-name: fadeOutAnim;
  animation-duration: 0.5s;
}

.notification p {
  margin: 0;
  font-size: 20px;
}