section {
  background-color: rgb(250,250,255);
}

article {
  background-color: rgb(250,250,255);
  padding: 30px;
  width: auto;
}

.row {
  margin-bottom: 30px;
}

.column {
  float: left;
  width: 30%;
  margin: 1.65%;
}

.column_doubleend {
  float: left;
  width: 30%;
  margin: 1.65%;
  margin-left: 10%;
  margin-right: 10%;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

section::after {
  content: "";
  display: table;
  clear: both;
}