section {
    background-color: rgb(240,240,240);
  }
  
  article {
    background-color: rgb(240,240,240);
    padding: 30px;
    width: auto;
  }
  
  section::after {
    content: "";
    display: table;
    clear: both;
  }