/* general */
@font-face {
  font-family: CheckoutFont;
  src: url(../../fonts/Alata-Regular.ttf);
}

p, label, th, td {
  font-family: CheckoutFont;
  margin-top: 0;
  margin-bottom: 0;
}

.topic {
  font-size: 14px;
  color: #334862;
  margin-bottom: 0.2em;
}

.title-article {
  font-size: 32px;
  font-weight: 500;
  color: #161616;
  margin-bottom: 0.2em;
}

.byauthor {
  font-size: 12px;
  color: #334862;
  margin-bottom: 0.1em;
}

.divider-top {
  height: 3px;
  background-color: rgba(0,0,0,.1);
  width: 100%;
  max-width: 30px;
  margin: 1em 0 1em;
  margin-bottom: 0.5em;
}

.divider-bot {
  height: 3px;
  background-color: rgba(0,0,0,.1);
  width: 100%;
  max-width: 500px;
  margin: 1em 0 1em;
}

#borderassist {
  border: 1px solid red;
}
/* Main Containers */
div.blog-content-wrapper {
  display: flex;
  flex-flow: column nowrap;
  padding: 20px 20px 20px 20px;
}

div.top-row {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  align-content: space-between;
  margin-bottom: 24px;
}

div.bot-row-content {
  display: flex;
  flex-flow: row nowrap;
  align-items: space-between;
  justify-content: space-between;
  background-color: rgb(0, 180, 30);
}

div.end-row {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  margin-top: 24px;
}

/* Content Details */
div.bot-left-col-section {
  display: flex;
  flex-flow: column nowrap;
  flex-grow: 1;
  margin-left: 20px;
  margin-right: 5px;
  background-color: orange;
}

div.bot-right-col-section {
  display: flex;
  flex-flow: column nowrap;
  flex-grow: 1;
  margin-left: 5px;
  margin-right: 20px;
  background-color: orange;
}